<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771826515764-2p1kip4l2nj2i1big69dj9nh0udn1p4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771826515764-2p1kip4l2nj2i1big69dj9nh0udn1p4a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>771826515764-7chph62dd9d8qagjb29ffed84p1a19cp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdZoYjwowQsuDzPxa4wcpBrS-SUBrw_EA</string>
	<key>GCM_SENDER_ID</key>
	<string>771826515764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookshelfApp</string>
	<key>PROJECT_ID</key>
	<string>bookhub-5691d</string>
	<key>STORAGE_BUCKET</key>
	<string>bookhub-5691d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771826515764:ios:35e72d4fa8ac89fdd42f61</string>
</dict>
</plist>